__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

*.log
logs/
debug.log

venv/
.env/
.envrc
*.env
Pipfile
Pipfile.lock

.vscode/
.idea/
*.iml

*.egg-info/
.eggs/
dist/
build/
site-packages/

.pytest_cache/
.coverage
.tox/

docker-compose.override.yml
.Dockerfile.swp

.sonarqube/

.jenkins/
workspace/
target/
*.hpi

.kube/
kubeconfig.yaml

.git/
.gitignore
*.swp
*.swo
*.bak
*.tmp
*.DS_Store
*.~undo-tree~

